- if user_signed_in?
  %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.nav-tabs
        %li.nav-item
          %a#chart-data.nav-link{:href => root_path}
            Forecasts list
            %span.sr-only (current)
        %li.nav-item
          %a#chart-data.nav-link{:href => new_forecast_path}
            Forecast new
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path}
            Sign out
            %span.sr-only (current)
